@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700');

#garden_container {
    margin: 0 auto;
    max-width: 1000px;
    overflow-x: auto;
    /* border: 1px solid #666; */
    position: relative;
    margin-bottom: 100px;
}
#garden {
    background-color: #f8f2ef;
    width: 1000px;
}
#garden_title {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 50px;
    background: #e5e5f5;
    font-size: 44px;
    line-height: 100px;
    font-weight: 500;
    text-align: center;
    width: 100%;
    color: #213269;
    font-family: "Roboto Condensed";
}
.grass {
    fill: #85b9b1;
}
.clouds {
    fill: #e5e5f5;
}
.stem {
    stroke: #167264;
    stroke-width: 3;
    fill: none;
}
.root_stem {
    stroke: #167264;
    stroke-width: 5;
}
.petal {
    transition: fill 0.2s;
}
.flower {
    cursor: pointer;
    z-index: 2;
}
.flower:hover .petal {
    opacity: 1 !important;
    cursor: pointer;
}
.direction-label {
    font-size: 16px;
    font-weight: 500;
    text-anchor: middle;
    fill: #333;
}
#flower_template {
    display: none;
}
.plant_label0 {
    font-weight: 500;
    font-size: 20px;
}
.plant_label1 {
    font-weight: 300;
    font-size: 18px;
}
.paper_label0 {
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
}
.paper_label1, .paper_label2, .paper_label3 {
    cursor: pointer;
    font-weight: 300;
    font-size: 14px;
}
.left_child_title {
    text-anchor: end;
}
.indirect_connection {
    stroke: rgba(19, 150, 84, 0.25);
    stroke-width: 1;
}
.title {
    font-family: "Roboto Condensed";
    font-size: 50px;
    font-weight: 700;
    fill: #213269;
    text-anchor: middle;
    dominant-baseline: middle;
}
@media (max-width: 768px) {
    #garden_title {
        font-size: 30px;
    }
}